:root{
  --header: #ebae45;
  --footer: #2c2a29;
  --text: #2b2b2b;
  --header-text: #402d21;
  --accent: #41416c;

  --card-shadow: 0 6px 18px rgba(18,18,18,0.2);
  --card-shadow-dark: 0 6px 18px rgba(18,18,18,0.3);
  --card-shadow-hover: 0 8px 26px rgba(18,18,18,0.4);

  --bs-body-font-family: "Baloo 2", sans-serif;
  font-size: 12pt;
}

p {
  font-size: 14pt;
}

.list {
  font-size: 14pt;
}

blockquote {
  padding-left: 5rem;
  padding-right: 5rem;
}

header {
  background: var(--header);
}

#logo {
  width: 5rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.brand-title {
  color: var(--header-text);
  font-weight: 800;
  font-size: 2.5rem;
}

.nav-link {
  color: var(--header-text);
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-link:hover {
  color: #71719e;
}

.nav-link:focus-visible {
  outline: 5px solid var(--accent);
}

nav li {
  margin: 0 1rem;
}

main {
  min-height: 90vh;
  color: var(--text);
}

form {
  background: #fff;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}

.done {
  background: #fff;
  border-radius: 12px;
  box-shadow: var(--card-shadow);

  svg {
    color: var(--accent);
  }
}

.btn-primary {
  background: var(--accent);
  border-color: var(--accent);
}

.bg-light {
  background: linear-gradient(180deg, #f3ebcc, #fff);
  padding-bottom: 200px;
}

footer {
  color: #fff;
  background: var(--footer);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer a {
  margin-bottom: 0.2rem;
  color: #fff;
  font-size: 14pt;
  text-decoration: none;
}

footer a:hover {
  color: #b0b0e1;
}
