:root{
  --header: #ebae45;
  --footer: #2c2a29;
  --text: #2b2b2b;
  --header-text: #402d21;
  --accent: #41416c;

  --card-shadow: 0 6px 18px rgba(18,18,18,0.2);
  --card-shadow-dark: 0 6px 18px rgba(18,18,18,0.3);
  --card-shadow-hover: 0 8px 26px rgba(18,18,18,0.4);

  --bs-body-font-family: "Baloo 2", sans-serif;
  font-size: 12pt;
}

p {
  font-size: 14pt;
}

h5 {
  font-size: 1.4rem;
}

header {
  background: var(--header);
}

#logo {
  width: 5rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.brand-title {
  color: var(--header-text);
  font-weight: 800;
  font-size: 2.5rem;
}

.nav-link {
  color: var(--header-text);
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-link:hover {
  color: #71719e;
}

.nav-link:focus-visible {
  outline: 5px solid var(--accent);
}

nav li {
  margin: 0 1rem;
}

main {
  color: var(--text);
}

.bg-light {
  background: linear-gradient(180deg, #f3ebcc, #fff);
  padding-bottom: 200px;
}

.bg-dark {
  background: linear-gradient(180deg, #f1bb5d, var(--header));
  padding-bottom: 100px;
}

section {
  padding-top: 70px;
}

.category-title {
  background: #dfa137;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.category-icon {
  margin-right: 1rem;
  color: #976c22;
}

.category-container {
  margin-bottom: 5rem;
}

footer {
  color: #fff;
  background: var(--footer);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer a {
  margin-bottom: 0.2rem;
  color: #fff;
  font-size: 14pt;
  text-decoration: none;
}

footer a:hover {
  color: #b0b0e1;
}

.card {
  border: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--card-shadow);
  transition: .1s cubic-bezier(.23,1,.32,1);
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: var(--card-shadow-hover);
  transition: .3s ease;
}

.card:active {
  transform: translateY(-2px);
  box-shadow: var(--card-shadow);
  transition: transform .02s ease;
}

.card:focus-visible {
  outline: 8px solid var(--accent);
  transform: translateY(-4px);
  box-shadow: var(--card-shadow-hover);
}

.card-feature .card-img-top{
  height: 300px;
  object-fit: cover;
}

.card-small .card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-tiny {
  box-shadow: var(--card-shadow-dark);
}

.card-tiny .card-img-top {
  height: 150px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .card-feature .card-img-top { height: 500px; }
  .card-small .card-img-top { height: 300px; }
  .card-tiny .card-img-top { height: 200px; }
}

.year {
  color: #fff;
  font-size: 12pt;
  background: var(--accent);
  border-radius: 6px;
  padding: 3px 6px 0 6px;
  margin-left: 0.5rem;
  font-weight: bold;
}

.price {
  color: var(--accent);
  font-family: var(--bs-font-sans-serif);
  font-weight: 800;
}
